@use '../../SCSS/main';

.project {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr)) 2fr repeat(2, minmax(0, 1fr));
  word-wrap: break-word;
  justify-self: start;
  font-size: 1rem;
  line-height: 1rem;
  padding: 1rem;
  background-color: #FFF;
  border-radius: 10px;
  margin: 1rem 0;
  align-items: end;
  & p {
    padding: 0.25rem;
  }
  @include main.mobile {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    p:nth-child(1),
    p:nth-child(2) {
      grid-row: 1;
    }
    p:nth-child(3) {
      grid-row: 2;
    }
    div:nth-child(4)
    {
      grid-row: 3;
    }
    div:nth-child(6),p:nth-child(5) {
      grid-row: 4;
    }
  }
}

.buttons {
  display: flex;
  justify-content: end;
  gap: 1rem;
  color: main.$primary-color-60;
}
