.month {
  width: 30rem;
  padding: 0.7rem;
  margin-left: 1rem;
  border: 1px solid blue;
}
.header {
  display: flex;
  margin-bottom: 0.7rem;
  justify-content: space-between;
  align-items: center;
}
.header button {
  font-size: 1.4rem;
  cursor: pointer;
}
.headerDays{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
.body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
.box {
  height: 2rem;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.box:hover{
  background-color: antiquewhite;
}
.boxOther {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.boxSelected {
  background-color: blue;
  color: white;
}


.week {
  color: blue;
}
