footer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  font-size: 1.2rem;
  left: 0;
  padding: 1rem;
  text-align: center;
  width: 100%;
  background-color: rgb(245, 242, 239);
}
