.hero {
  background-image: url(./hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vh;
  display: flex;
  flex-direction: row;
}

.heroLeftPlaceholder {
  width: 50%;
}

.heroHeading {
  color: yellow;
}

.heroSubHeading {
  color: yellowgreen;
}

.heroRightSide {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
