@use "../../SCSS/main";


.fullHeroContainer {
  background: main.$primary-color-10;
}
.hero {
  padding-top: 10rem;
  display: flex;
  @include main.mobile {
    flex-direction: column;
    padding-top: 6rem;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50vw;
  margin: 2rem;
  padding: 1rem;
  gap: 1rem;
  @include main.mobile {
    width: 100vw;
  }
  & h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 5rem;
  }
  & p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }
}

.imgContainer {
  width: 50vw;
  @include main.mobile {
    width: 100vw;
  }
}

.heroImg {
  width: 100%;
  height: auto;
  background: radial-gradient(circle closest-side, #F3aa1f, #fed323, main.$primary-color-10 100%)

}
