@use "../../SCSS/main";

$textColor: black;
$temporaryBacking: gray;

* {
  margin: 0;
  box-sizing: border-box;
}

.container {
display: flex;
width: 80%;
position: absolute;
top: 0;
height: 4.5rem;
padding: 2rem 1rem;
margin: 0 5vw;
justify-content: space-between;
align-items: center;
flex-shrink: 0;
border-radius: 10px;
background: #FFF;
backdrop-filter: blur(3.5px);
box-shadow: 0px 13px 14px 0px rgba(0, 0, 0, 0.05);
backdrop-filter: blur(3.5px);
gap: 2rem;
z-index: 2;
@include main.mobile{
  width: 95%;
  margin: auto;
}
}

.leftMenu {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 1rem;
}

.logo {
  width: 4.5rem;
  height: 4.5rem;
}

.tabMenu {
  display: flex;
  gap: 1rem;
  height: 100%;
  border-radius: 50px;
  border: 1px solid main.$primary-color-20;
  background: main.$neutral-color-10;
  justify-content: center;
  align-items: center;
  padding: .3rem;
}


.rightMenu {
  display: flex;
  position: relative;
}

.profileMenuButton{
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.profileMenuButton p {
  font-size: x-large;
}

.profileIcon {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileIcon :last-child{
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.rightMenuLinks {
  display: flex;
  position: absolute;
  flex-direction: column;
  padding: 1rem 8rem 1rem 1rem;
  gap: 1rem;
  border-radius: 8px;
  top: 125%;
  right: 20%;
  background: #FFF;
  box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.15);
  & a {
    text-decoration: none;
    color: black;
    & :hover {
      text-decoration: underline;
    }
  }
}

.hamburgerMenuLinks {
  display: flex;
  position: absolute;
  flex-direction: column;
  padding: 1rem 8rem 1rem 1rem;
  gap: 1rem;
  border-radius: 8px;
  top: 125%;
  right: 20%;
  background: #FFF;
  box-shadow: 0px 14px 14px 0px rgba(0, 0, 0, 0.15);
  & a {
    text-decoration: none;
    color: black;
    & :hover {
      text-decoration: underline;
    }
  }
}

.hamburger {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 1;
  cursor: pointer;
  @include main.desktop {
    display: none;
  }
}

.burger {
  width: 2rem;
  height: 0.25rem;
  border-radius: 10px;
  background-color: black;
  transform-origin: 1px;
  transition: all 0.3s linear;
}
.burgerOne {
  transform: rotate(45deg)
}

.burgerTwo {
  opacity: 0;
}

.burgerThree {
  transform: rotate(-45deg)
}

.hidden {
  display: none;
}

