.editUserContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  gap: 7px;
  padding: 7px;
  background-color: aquamarine;
  z-index: 1;
}

.editUserSuccess {
  font: bold;
}

.hidden {
  display: none;
}
