@use '../../SCSS/main';


// Main styling
.input {
  display: flex;
  background: main.$neutral-color-10;
  color: main.$neutral-color-90;
  width: 90%;
  align-items: center;
  gap: 0.5rem;
  font-family: 'Plus Jakarta Sans';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  border-radius: 6.25rem;
  &::placeholder{
    color: main.$neutral-color-60;
  }
  box-sizing: border-box;
  padding-left: 2.5rem;
  padding-right: 2.5rem;

  &:hover {
  border: 1px solid main.$primary-color-50;
  }
  &:focus {
    border: 1px solid main.$primary-color-60;
  }
  &:invalid {
    border: 1px solid #ff4d4f;
  }
  &:disabled {
    color: main.$neutral-color-60;
    border: 1px solid main.$neutral-color-50;
    background-color: main.$neutral-color-40;
  }
  &:invalid {
    border: 1px solid #ff4d4f;
  }
  }

// Buttons

form {
  display: flex;
  justify-content: center;
  position: relative;
}

.searchButton {
  all: unset;
  position: absolute;
  background: none;
  left: 5%;
  z-index: 1;
}

.eraseButton {
  all: unset;
  position: absolute;
  z-index: 1;
  right: 8%;
  &:hover {
    cursor: pointer;
  }
}

// Sizes
.small {
  height: 1.875rem;
}

.medium {
  height: 2.5rem;
}

.large {
  height: 3rem;
}
