@use '../../SCSS/main';

.containerOurTeamAndOpenings {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
  height: 500px;
  @include main.mobile {
    grid-template-columns: 1fr;
    height: 1000px;
  }
}

// .teamAndBackground{
//   position: relative;
// }

.teamCircleImages {
  position: relative;
  height: 100%;
  width: auto;
  & img {
    border: 5px solid #f3aa1f;
    object-fit: cover;
  }
  // & :nth-child(1) {
  //   position: absolute;
  //   border-radius: clamp(107px, 125px, 151px );
  //   height: clamp(107px, 125px, 151px );
  //   width: clamp(107px, 125px, 151px );
  //   // transform: translate(45%, 0%);
  //   top: 0%;
  //   left: 15%;
  // }
  // & :nth-child(2) {
  //   position: absolute;
  //   border-radius: clamp(118px, 135px, 166px );
  //   height: clamp(118px, 135px, 166px );
  //   width: clamp(118px, 135px, 166px );
  //   // transform: translate(185%, 50%);
  //   top: 10%;
  //   left: 55%;
  // }
  // & :nth-child(3) {
  //   position: absolute;
  //   border-radius: clamp(144px, 175px, 200px);
  //   height: clamp(144px, 175px, 200px);
  //   width: clamp(144px, 175px, 200px);
  //   transform: translateX(-50%) translateY(100%);

  // }
  // & :nth-child(4) {
  //   position: absolute;
  //   border-radius: clamp(109px, 140px, 154px);
  //   height: clamp(109px, 140px, 154px);
  //   width: clamp(109px, 140px, 154px);
  //   transform: translateX(10%) translateY(-40%);

  // }
  & .svg {
    position: absolute;
    z-index: -1;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
  }
}

.imageOne {
    position: absolute;
    border-radius: 100px;
    height: 125px;
    width: 125px;
    top: 0%;
    left: 25%;
}

.imageTwo {
  position: absolute;
  border-radius: 100px;
    // height: clamp(118px, 135px, 166px );
    // width: clamp(118px, 135px, 166px );
    height: 135px;
    width: 135px;
    // transform: translate(185%, 50%);
    top: 15%;
    left: 60%;
}

.imageThree {
  position: absolute;
  border-radius: 100px;
  // height: clamp(144px, 175px, 200px);
  // width: clamp(144px, 175px, 200px);
  height: 175px;
  width: 175px;
  // transform: translateX(-50%) translateY(100%);
  top: 50%;
  left: 35%;
}

.imageFour {
  position: absolute;
  border-radius: 100px;
  // height: clamp(109px, 140px, 154px);
  // width: clamp(109px, 140px, 154px);
  // transform: translateX(10%) translateY(-40%);
  height: 140px;
  width: 140px;
  top: 25%;
  left: 0%;
}

// .backgroundSvg {
//   position: absolute;
//   z-index: -1;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

.textAndOpenenings {
  display: flex;
  flex-direction: column;
  margin: 0 20%;
  gap: 1rem;
}

.teamAndOpeningsText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.openingsContainer  {
  display: flex;
  width: 100%;
  gap: 1rem;
  @include main.mobile {
    flex-direction: column;
  }
}

.positionOpeningBox {
  display: flex;
  flex-direction: column;
  border: 1px solid main.$neutral-color-40;
  gap: 1rem;
  padding: 1rem;
}

.ourTeamAndOpeningsButtons {
  display: flex;
  gap: 1rem;
  // @include main.mobile {
  //   flex-direction: column;
  // }
}
