@use "../../SCSS/main";

@mixin baseAttributes() {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 100px;
  font-family: 'Plus Jakarta Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

// animate loading circle
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading{
  animation: rotate 2s linear infinite;
// possibly: animation: spin 4s infinite linear;

}

// Variants
.primary {
  @include baseAttributes();
  color: main.$neutral-color-10;
  background-color: main.$primary-color-60;
  border: 1px solid main.$primary-color-60;

  &:hover {
    background-color: main.$primary-color-70;
    border: 1px solid main.$primary-color-70;
    cursor: pointer;
  }
  &:focus {
    background-color: main.$primary-color-70;
    border: 1px solid main.$primary-color-40;
  }
  &:active{
    background-color: main.$primary-color-30;
    border: 1px solid main.$primary-color-30;
  }
}
.outlined {
  @include baseAttributes();
  color: main.$primary-color-60;
  background-color: main.$neutral-color-10; // changed to here
  border: 1px solid main.$primary-color-60;

  &:hover {
    background-color: main.$primary-color-70;
    border: 1px solid main.$primary-color-70;
    cursor: pointer;
  }
  &:focus {
    background-color: main.$primary-color-70;
    border: 1px solid main.$primary-color-40;
  }
  &:active{
    background-color: main.$primary-color-30;
    border: 1px solid main.$primary-color-30;
  }
}
.white {
  @include baseAttributes();
  color: main.$neutral-color-10;
  background-color: main.$primary-color-60;
  border: 1px solid main.$primary-color-60;

  &:hover {
    background-color: main.$primary-color-70;
    border: 1px solid main.$primary-color-70;
    cursor: pointer;
  }
  &:focus {
    background-color: main.$primary-color-70;
    border: 1px solid main.$primary-color-40;
  }
  &:active{
    background-color: main.$primary-color-30;
    border: 1px solid main.$primary-color-30;
  }
}

 // check size
 .small {
  width: 68px;
  height: 32px;
}
.smallIcon {
  width: 32px;
  height: 32px;
}
.medium {
  width: 85px;
  height: 40px;
}
.mediumIcon {
  width: 40px;
  height: 40px;
}
.large {
  width: 101px;
  height: 48px;
}
.largeIcon {
  width: 48px;
  height: 48px;
}
