@use '../../../SCSS/main';

* {
  box-sizing: border-box;
}

.barContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
  bottom: 85px;
  width: 90%;
  margin: auto;
  border-radius: 20px;
  box-shadow: 0px 14px 24px 0px rgba(0, 0, 0, 0.10);
  padding: 2rem 5rem;
  z-index: 2;
  background-color: white;
  @include main.mobile {
    display: none;
  }
}

.statistic {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  & h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    color: #1E2026;
  }
  & p {
    line-height: 2rem;
    color: #3C424D;
  }
}
