@use '../../../SCSS/main';

.container {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  background-color: main.$primary-color-60;
  align-items: center;
  padding: 4rem 2rem;
  margin: 2rem 3rem;
  border-radius: 20px;
  @include main.mobile {
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 1rem;
  }
  & Button {
    margin-top: 2rem;
  }
}

.text {
  display: flex;
  flex-direction: column;
  width: 70%;
  color: white;
  gap: 2rem;
  @include main.mobile {
    width: 90%;
  }
  & h2 {
    @include main.boldFont();
  }
  & p {
    line-height: 1.5rem;
  }
}
